// see https://github.com/vuejs/vuepress/tree/master/packages/%40vuepress/theme-default/styles for default styles
// abd https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl for default
// variable definitions

@import './include/highlighting.styl'

html, body {
    background-color: $bodyBgColor !important;
}

.navbar, .navbar .links {
    background-color: $navbarBgColor !important
}

.sidebar {
    background-color $sidebarBgColor !important
}

.page-edit .edit-link a  {
    color: $accentColor !important
}

.icon.outbound {
    color: $iconOutboundColor !important
}

.page-edit .last-updated .prefix {
    color: $textColor !important
}

.page-edit .last-updated .time {
    color: $textColor !important
}

$contentBoxPadding = 1.2rem
$contentBorderRadius = 0.5rem



.home {
    #main-title {
        display: none
    }

    .features {
        background-color: $featuresBgColor
        padding: $contentBoxPadding !important
        border-radius: $contentBorderRadius
        margin-bottom: 2rem
    }

    .hero img {
        max-height: 200px !important;
    }

    .hero .description {
        color: $accentColor !important
    }

    .feature p {
        color: $accentColor !important
    }

    .theme-default-content {

        background-color: transparent !important;
        text-align: center;

        .devswag {
            @media (min-width: $MQMobile + 1px) {
                position: absolute;
                left: 0;
                top: $navbarHeight;
                margin: 1rem;
            }
        }

        .playground a {
            display: inline-block;
            width: 100%;
            max-width: 400px;
            background-color: $featuresBgColor;
            border: 1px solid $borderColor;
            border-radius: 4px;
            padding: .8rem 0;
        }
    }

    .footer {
        border: none !important
    }
}

.theme-default-content {
    background-color: $contentBgColor;
    padding: $contentBoxPadding;
    border-radius: $contentBorderRadius;

    .theme-container.interactive-playground & {
        display: none;
    }
}


.table-of-contents {
    border: 1px solid $textColor;
    float: right;
    padding: 0.5em;
    margin-left: 1rem;
    max-width: 50%;

    @media (max-width: $MQMobile) {
        float: none;
        margin-left: 0;
        max-width: 100%;
    }

    &:before {
        content: "Table of contents";
        font-weight: bold;
    }

    > ul {
        list-style-type: decimal;
        margin: 0.5rem 0 0 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    // Makes the header end before a float-right div
    display: flex;
}

$buttonLinkBgColor = darken($baseColor, 10%);
$buttonLinkColor = white;

.button-link,.custom-block.warning a.button-link {
    display: inline;
    border: $borderColor;
    background-color: $buttonLinkBgColor;
    padding: 0.5rem;
    color: $buttonLinkColor;
    border-radius: 3px;
    text-shadow: 1px 1px 2px black;

    &:hover {
        box-shadow: 1px 1px 2px black;
    }

    &:active:hover {
        box-shadow: none;
    }
}

