$baseColor = #f0772b

$accentColor = darken($baseColor, 50%)
$textColor = darken($baseColor, 80%)
$borderColor = darken($baseColor, 10%)

$codeBgColor = #000

$iconOutboundColor = #222

$navbarBgColor = #fda
$sidebarBgColor = $navbarBgColor

$bodyBgColor = $baseColor
$featuresBgColor = #eee
$contentBgColor = #efefef

$exampleWorkspaceDefaultMargin = 0.5rem;
$exampleWorkspaceDefaultPadding = 0.5rem;


$weHeaderMargin = 0.4rem;
$weHeaderHeight = 0.8rem;
$weHeaderColor = $baseColor;

$weContentPadding = 0.5rem;
$weContentPaddingTop = (2 * $weHeaderMargin + $weHeaderHeight + 0.5rem)
$weContentBgColor = #111;
