body {
    background-color: $bodyBgColor;
}

.navbar, .navbar .links {
    background-color: $navbarBgColor !important;
}

.home {
    .features {
        background-color: $featuresBgColor
        padding: 1.2rem !important
        border-radius: 1rem;
    }

    .hero .description {
        color: $accentColor !important
    }

    .feature p {
        color: $accentColor !important
    }
}

.content {
    background-color: $contentBgColor !important;
    border-radius: 1em;
}