html, body {
    background-color: $bodyBgColor !important;
}

.navbar, .navbar .links {
    background-color: $navbarBgColor !important
    opacity: 0.9;
}

.sidebar {
    background-color $navbarBgColor !important
}

.page-edit .edit-link a  {
    color: $accentColor !important
}

.icon.outbound {
    color: $iconOutboundColor !important
}

.page-edit .last-updated .prefix {
    color: $textColor !important
}

.page-edit .last-updated .time {
    color: $textColor !important
}

$contentBoxPadding = 1.2rem
$contentBorderRadius = 0.5rem

.custom.content {
    padding: $contentBoxPadding;
}

.home {
    #main-title {
        display: none
    }

    .features {
        background-color: $featuresBgColor
        padding: $contentBoxPadding !important
        border-radius: $contentBorderRadius
        margin-bottom: 2rem
    }

    .hero img {
        max-height: 200px !important;
    }

    .hero .description {
        color: $accentColor !important
    }

    .feature p {
        color: $accentColor !important
    }
}

.content {
    background-color: $contentBgColor !important
    border-radius: $contentBorderRadius !important
}

