$baseColor = #ffbb00

$accentColor = darken($baseColor, 70%)
$textColor = darken($baseColor, 80%)
$borderColor = darken($baseColor, 10%)
$codeBgColor = #000

$iconOutboundColor = #222

$navbarBgColor = $baseColor
$bodyBgColor = $baseColor
$featuresBgColor = #ddd;
$contentBgColor = #efefef