name: build-and-deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      TARGET_URL: handlebarsjs.com
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '22'
      - run: npm ci
      - run: npm run docs:build

      - name: Deploy to ${{ env.TARGET_URL }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./src/.vitepress/dist
          cname: ${{ env.TARGET_URL }}
